#s3 Bucket connection
import boto
import boto.s3.connection
access_key = 
secret_key = 

conn = boto.connection_s3(
        aws_access_key_id = 
        aws_secret_access_key = 
        
#Listng all buckets
